<li class="nav-item">
    <%= link_to 'マイページ', user_path(current_user), class: "nav-link nav_li" %>
</li>
<li class="nav-item">
    <%= link_to '新規投稿', new_todo_path, class: "nav-link nav_li" %>
</li>
<li class="nav-item">
    <%= link_to '投稿一覧', myindex_path, class: "nav-link nav_li" %>
</li>
<li class="nav-item">
    <%= link_to 'ユーザー一覧', users_path, class: "nav-link nav_li" %>
</li>
<li class="nav-item">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link nav_li" %>
</li>