<!DOCTYPE html>
<html lang="ja">
  <%= render 'layouts/application_header' %>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'WaST', root_path, class: "logo" %>
      <% if user_signed_in? %>
        <%= render 'layouts/application_signin' %>
      <% else %>
        <%= render 'layouts/application_not_signin' %>
      <% end %>
      <%= render 'layouts/application_hamburger' %>
    </nav>
    <%= render 'layouts/application_flash' %>
    <%= yield %>
  </body>
</html>